#forecast {
  display: flex;
  align-items: end;
  justify-content: center;
  padding-left: 20px;
  gap : 20px;
  margin-bottom: 10px;
}

#card-title {
  font-size: 1.5em;
  font-weight: 300;
}

#card-box {
  height: 240px;
  display: flex;
  align-items: start;
  gap: 20px;
  overflow-x: auto; /* top scrollbar  */
}

/* width */
#card-box::-webkit-scrollbar {
  height: 10px;
}

/* Track */
#card-box::-webkit-scrollbar-track {
  box-shadow: inset 1px 1px 5px rgba(255, 255, 255);
  border-radius: 10px;
}

/* Handle */
#card-box::-webkit-scrollbar-thumb {
  height: 8px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.card {
  height: 200px;
  width: 220px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.rotate {
  transform: rotateX(180deg); /* top scrollbar  */
}

.card-img {
  max-width: 100px;
  height: auto;
  margin-bottom: -20px;
}

.card > p {
  text-align: center;
}

.card-temp {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}