#main {
  height: 60vh;
  display: flex;
  justify-content: center;
}

#today {
  padding: 10px;
  width: 50vw;
  min-width: 500px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  border-radius:0 0 15px 15px;
}

#title-day-time {
  font-weight: 300;
}

#info {
  display: flex;
  gap: 40px;
}

#weather-now {
  /* max-width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-more {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1vh;
  margin-top: 3px;
  margin-bottom: 3px;
}

.weather-more-img {
  height: 60px;
  width: 60px;
}

@media screen and (max-height: 580px) {
  #weather-now-img {
    height: 100px;
    width: 100px;
  }

  .weather-more-img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 750px), (max-height: 560px) {
  #main {
    width: 90vw;
    height: auto;
  }

  #today {
    padding-top: 6vh;
    width: 100%;
    min-width: 0px;
    height: 100%;
  }

  #title-day-time {
    text-align: center;
  }

  #info {
    flex-direction: column;
  }

  .weather-more {
    padding-left: 20%;
  }
}