#main {
  height: 60vh;
  display: flex;
  justify-content: center;
}

#today {
  margin: 0;
  width: 50vw;
  min-width: 500px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius:0 0 15px 15px;
}

#title {
  margin-bottom: 30px;
}

#title-day-time {
  font-weight: 300;
}

#info {
  display: flex;
  gap: 40px;
}

#weather-now {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-more {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-top: 3px;
  margin-bottom: 3px;;
}

.weather-more-img {
  height: 60px;
  width: 60px;
}
