#forecast {
  background-color: blueviolet;
  display: flex;
  align-items: end;
  padding-left: 20px;
  padding-bottom: 20px;
  gap : 15px;
}

#forecast-title {
  text-transform: uppercase;
}

.cards-title {
  background-color: aquamarine;
  display: flex;
  height: 30vh;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

#card-box {
  width: 100%;
  display: flex;
  gap: 20px;
  background-color: brown;
  overflow-x: auto; /* top scrollbar  */
  overflow-y: hidden; /* top scrollbar  */
  white-space: nowrap; /* top scrollbar  */
  transform: rotateX(180deg); /* top scrollbar  */
}

.card {
  transform: rotateX(180deg); /* top scrollbar  */
  height: 30vh;
  width: 300px;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.card-temp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}