@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;

}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
}

h1 {
  font-weight: 600;
  font-size: 2em;
}

h2 {
  font-weight: 400;
}

.big {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
  text-align: center;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#search-box {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

#search-image {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#search-input {
  height: 20px;
  width: 150px;
  background: rgb(0, 0, 0, 0);
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  color: white;
  letter-spacing: 0.1em;
}

#search-input:focus {
  border: none;
  outline: 0;
  border-bottom: solid 1px rgba(255, 255, 255);
}

#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
  opacity: 1; /* Firefox */
}

#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.5);
}

#search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.5);
}

#alert {
  position: absolute;
  top: 40px;
  right: 50px;
}

#answer-error {
  margin-top: 20vh;
  margin: auto;
  max-width: 500px;
  text-align: center;
}

#mobile-box {
  height: 100vh;
  width: 100vw;
  background-color: rgb(33, 190, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#mobile-box > h2 {
  max-width: 70vw;
  text-align: center;
}