* {
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;

}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: white;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}

h2 {
  /* text-transform: uppercase; */
  text-align: center;
}

h3 {
  font-weight: lighter;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(193, 255, 255);
}
